/* .headerName {
    color: white;
}
.navigationBar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 25px;
    background-color:black;
    color: #fff;
}




.navigationLink {
    color: red;
} */