.navbar {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
  }

  .logo-name {
    font-size: large;
    color: white;
    padding-top: 10px;
  }
  
  .nav-item {
    height: 80px;
    color: white;
  }
  
  .nav-links{
    color: #fff;
  }
  .nav-links:hover {
    border-bottom: 4px solid pink;
    transition: all 0.2s ease-out;
  }

